h1 {
   color:brown;
}

.navbar-brand {
   margin-left: 50px;
}

.navbar-collapse {
   padding: 20px;
   margin-left:35px;
   height: 59px;
}

.nav-item {
   margin-left: 20px;
   font-weight: 600;
}

.nav_logo {
font-size: 30px;
}

.navbar-light .navbar-nav .nav-link:hover {
   color: orange !important;
}

.blog_text {
   color:#3c33cc;
   padding-top: 50px;
}
.archives {
   font-weight: bold;
   padding-bottom: 90px;
}


.card {
   border: none;
  
}
.cardpost {
   padding-right: 0px !important;
}

.blog_date{
   text-align: left;
    width: 90%;
    font-weight: 500;
    color: grey;
    margin: 0 auto;
}

.blog_link{
   text-align: left;
   width: 90%;
  margin-right: 300px;
   color: orange;
   padding-top: 20px;
}

.blog_texts {
   padding-top: 20px;
   text-align: left;
   margin: 0 auto;
   width: 90%;
   color:gray;
   line-height: 1.6;
}

.blog_title {
   text-align: left;
   font-weight: bold;
   width: 90%;
   margin: 0 auto;
}

.contact_text {
   padding-top:50px;
      color:#3c33cc;
      font-weight: bold;
}

section .text-center {
   text-align: none !important;
}


.form-control {
   background: #212529;
   border-color: #545454;
}

.form-control:focus {
   background: #212529;
}

.contact_title {
   text-align: center;
   margin: 0 auto;
   width: 700px;
   line-height: 1.4;
}

.map {
   background-color: #3c33cc;

   width: 700px;
   height:800px;
}

.contact_text_section {
     background-color: white;
     width:740px;
     height: 800px;
}

footer {
   background: #3c33cc;
   
   padding: 40px;
}